[
  {
    "id":<%= @creditcard_item.id %>,
    "purchased_in":"<%= @creditcard_item.purchased_in %>",
    "title":"<%= @creditcard_item.title %>",
    "number":"<%= @creditcard_item.number %>",
    "value":"<%= @creditcard_item.value %>",
    "month_to_pay":<%= @creditcard_item.month_to_pay %>,
    "year_to_pay":<%= @creditcard_item.year_to_pay %>,
    "is_fixed":<%= @creditcard_item.is_fixed ? 1 : 0%>,
    "group_id":"<%= @creditcard_item.group_id %>",
    "creditcard_id":<%= @creditcard_item.creditcard_id %>
  }
]
