h1 Adicionar movimentação à #{ @ticket_moviment.wallet_ticket.ticket.name }

== render "form", ticket_moviment: @ticket_moviment

br

div
  = link_to "Back to Wallet ticket", @ticket_moviment.wallet_ticket
