<% content_for :breadcrumb do %>
    <li><a href="#">Conta</a> <span class="divider">/</span></li>
    <li class="active">Editar Informações da Conta</li>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-stacked" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> 
  <%= f.password_field :password %> <i>(deixar em branco caso não deseje altera-la)</i></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> 
  <%= f.password_field :current_password %> <i>(precisamos da sua senha atual para confirmar as alterações)</i></div>
  
  <div>Enviar e-mail com resumo de contas do dia e contas atrasadas.<br />
  <%= f.radio_button :send_resume_mail, true %>Sim <%= f.radio_button :send_resume_mail, false %>Não</div>
  <br />
  <div><%= f.submit "Atualizar", :class => 'btn btn-primary' %></div>
<% end %>

<h3>Android Token de Integração</h3>

  <% if :authentication_token %>
    <p><%= raw "Sua chave de autenticação é: <span style='color: #0088CC'>#{resource.authentication_token}</span>" %> <%= link_to "Gerar Novamente", create_token_path, :class => 'btn' %> 
  <% end %>

<h3>Cancelar Minha Conta</h3>

<p>Você pode cancelar sua conta a qualquer momento, todos as suas informações serão removidas.
<%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Essa ação não poderá ser desfeita. Tem certeza?", :method => :delete, :class => 'btn btn-danger' %></p>

