<% content_for :title do %>
  Cadastro de Novo Usuário
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-stacked" }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %>
  <%= f.text_field :name, :class => 'span5' %></p>

  <p><%= f.label :email %>
  <%= f.email_field :email, :class => 'span5' %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, :class => 'span5' %></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => 'span5' %></p>
  
  <%= f.hidden_field :send_resume_mail, :value => false %>

  <p>
    <%= f.submit "Cadastrar", :class => "btn" %><% link_to :back, :class => 'btn' %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Esqueci a senha?", new_password_path(resource_name) %><br />
    <% end -%>
  </p>
<% end %>
