<table>
  <tr>
	<th width="88" align="center">Vencimento</th>
	<th width="250" align="left">Descrição</th>
	<th width="50" align="center">Parcela</th>
	<th width="150" align="center">Local</th>
	<th width="110" align="center">Valor</th>
  </tr>
<% total = 0 %>
<% movimentations.each do |movimentation| %>
  <tr>
	<td  align="center"><%= movimentation.payday.to_s_br %></td>
		<td  align="left"><%= "*" if movimentation.is_last? %>
	<%= link_to movimentation do %>
		<%= movimentation.description %>
	<% end %>
	</td>
	<td align="center"><i><%= movimentation.number  unless movimentation.is_fixed  %></i></td>
	<td align="center"><%= movimentation.local_to_pay %></td>
	<td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>
  </tr>
<% total = total + movimentation.value %>
<% end %>

</table>

<p>Total: <%= total.real_contabil %></p>