<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Resumo do Dia (<%= Date.today.to_s_br %>)</h1>
  
    <% if @movimentations_in_end_today.size > 0 %>
      <h2>Contas A Receber Vencendo Hoje</h2>
      <%= render :partial => "movimentations_table", :locals => { :movimentations  => @movimentations_in_end_today } %>
    <% end %>
  
    <% if @movimentations_out_end_today.size > 0 %>
      <h2>Contas A Pagar Vencendo Hoje</h2>
       <%= render :partial => "movimentations_table", :locals => { :movimentations  => @movimentations_out_end_today } %>
    <% end %>
  
    <% if @movimentations_in_overdue.size > 0 %>
      <h2>Contas A Receber Atrasadas</h2>
      <%= render :partial => "movimentations_table", :locals => { :movimentations  => @movimentations_in_overdue } %>
    <% end %>
  
    <% if @movimentations_out_overdue.size > 0 %>
      <h2>Contas A Pagar Atrasadas</h2>
      <%= render :partial => "movimentations_table", :locals => { :movimentations  => @movimentations_out_overdue } %>
    <% end %>
  
  </body>
</html>
