@charset "utf-8";

body {
}

.form-user {
  background-color: #F0F0F0;
  padding: 10px 20px 0px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.buttons {
  padding-bottom: 15px;
}

.last_line {
  border-bottom: 1px solid #DDD;
}

table td {
  vertical-align: middle;
}

select {
  width: auto;
}

.field_with_errors {
  padding: 2px;
  background-color: #C43C35;
  display: table;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#error_explanation li {
  color: #C43C35;
}

.table_line {
  margin-top: -5px;
  margin-bottom: -5px;
}

#beta {
  position: fixed;
  top: 40px;
  left: 0px;
}

#beta2 {
  position: fixed;
  top: 0px;
  left: 0px;
}

.category {
    padding: 2px 5px;
}

#resume {
  padding: 0px 15px;
}

.btn-small {
  line-height: 15px;
  padding: 4px 6px;
}
