[
  <% i = 0 %>
  <% @categories.each do |categorie| %>
  <% i = i + 1 %>
  {
    "id":<%= categorie.id %>,
    "title":"<%= categorie.title %>",
    "user_id":<%= categorie.user_id %>,
    "color":"<%= categorie.color %>"
  }<%= "," unless i >= @categories.size %>
  <% end %>
]
