<script>
  $(document).ready(function(){
      $("#desire_price").val($("#desire_price").val().replace(".", ","));
      $("#desire_price").numeric(",");
      $("#desire_price").floatnumber(",",2);
  });

</script>

<%= form_for(@desire, :html => { :class => "form-stacked" }) do |f| %>
  <% if @desire.errors.any? %>
    <div id="error_explanation">
      <div class="alert-message error fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p><%= pluralize(@desire.errors.count, "erro") %> impediram o formul&aacute;rio de ser salvo</p>
      </div>

      <ul>
      <% @desire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :size => 40, :class => "span4" %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.text_field :price, :size => 5, :class => "span2" %>
  </div>

  <div>
    <%= f.label :priority %>
    <%= f.radio_button :priority, 'Alta' %>Alta 
    <%= f.radio_button :priority, 'Media', :selected => :selected %>Media
    <%= f.radio_button :priority, 'Baixa' %>Baixa
  </div>  
  <br />
  <div>
    <%= f.submit 'Salvar', :class => "btn" %> <% link_to 'Cancelar', desires_path, :class => "btn btn-danger" %>
  </div>
<% end %>
