<%= form_for(@desire, :html => { :class => "form-stacked", 'data-ajax' => "false" }) do |f| %>
  <% if @desire.errors.any? %>
    <div id="error_explanation">
      <div class="alert-message error fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p><%= pluralize(@desire.errors.count, "erro") %> impediu(ram) o formulário de ser salvo</p>
      </div>

      <ul>
      <% @desire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :size => 40, :class => "span4" %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price, :size => 5, :class => "span2" %>
  </div>

  <div>
    <fieldset data-role="controlgroup">
      <legend>Prioridade</legend>
          <%= f.radio_button :priority, 'Alta' %>
          <label for="desire_priority_alta">Alta</label>

          <%= f.radio_button :priority, 'Media', :html => {:checked => :checked} %>
          <label for="desire_priority_media">Média</label>

          <%= f.radio_button :priority, 'Baixa' %>
          <label for="desire_priority_baixa">Baixa</label>
    </fieldset>
  </div>  
  
  <div>
    <div data-role="controlgroup" data-type="horizontal">
      <%= f.submit 'Salvar', 'data-theme' => "a" %>
      <%= link_to 'Cancelar', :back, 'data-role' => "button", 'data-ajax' => "false" %>
    </div>
  </div>
<% end %>
