<div id="page_title">Editar desire</div>

<%= render 'form' %>

<%= link_to 'Exibir', @desire %> |
<%= link_to 'Voltar', desires_path %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-3").addClass("active");
  });
</script>

