<h3>LISTA DE DESEJOS</h3>

<p>Adicione a essa lista coisas que você prentende comprar.</p>

<div><%= link_to 'Adicionar', new_desire_path, 'data-ajax' => "false", :title => "Adicionar Movimentação", 'data-role' => "button", 'data-theme' => "a" %></div>

<div>
  <% if @desires.size <= 0 %>
    <p>Nenhum item cadastrado.</p>
  <% else %>
    <ul data-role="listview" data-inset="true">
      <% @desires.each do |desire| %>
        <li>
          <%= link_to desire do %>
            <h1><%= desire.title.upcase %></h1>
            <p>
              <%= desire.price.real_contabil %> | 
              Prioridade: 
              <% if desire.priority.downcase == "alta" %>
                (Alta)
              <% elsif desire.priority.downcase == "media" %>
                (Média)
              <% elsif desire.priority.downcase == "baixa" %>
                (Baixa)
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>