<% content_for :breadcrumb do %>
    <li><a href="#">Lista de Desejos</a> <span class="divider">/</span></li>
    <li class="active">Principal</li>
<% end %>

<div class="buttons">
  <%= link_to 'Adicionar Desejo', "#myModal", :alt => 'Adicionar Desejo', :title => "Adicionar Movimentação", :class => "btn btn-primary pull-right", 'data-toggle' => "modal" %>
</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Adicionar Desejo</h3>
  </div>
  <div class="modal-body">
    <%= render 'form' %>
  </div>
</div>

<p>
  Adicione a essa lista coisas que você prentende comprar.
</p>

<h3>LISTA DE DESEJOS</h3>

<% if @desires.size <= 0 %>

  <p>Nenhum item cadastrado.</p>

<% else %>

  <table class="table table-striped ">
    <tr>
      <th width="550" align="left"><%= sort_link @search, :title, 'Título' %></th>
      <th width="180" align="left">Valor</th>
      <th width="100" align="left"><%= sort_link @search, :priority, 'Prioridade' %></th>
      <th colspan="1"></th>
    </tr>

  <% @desires.each do |desire| %>
    <tr onmouseover="show_button(<%= desire.id %>)" onmouseout="hide_button(<%= desire.id %>)">
      <td  align="left"><%= desire.title.upcase %></td>
      <td  align="left"><%= desire.price.real_contabil %></td>
      <td  align="left">
        <% if desire.priority.downcase == "alta" %>
          <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
        <% elsif desire.priority.downcase == "media" %>
          <span class="icon-star"></span><span class="icon-star"></span>
        <% elsif desire.priority.downcase == "baixa" %>
          <span class="icon-star"></span>
        <% end %>
      </td>
      <td>
        <%= link_to desire, :confirm => 'Tem certeza?', :method => :delete, :class => "table_line btn btn-small btn-action", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar este desejo', :id => desire.id do %>
         <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
        <% end %>
      </td>
    </tr>
  <% end %>
    <% if @desires.size > 0 %>
    <tr>
      <td colspan="4"><b>Total:</b> <%= @total.real_contabil %></td>
    </tr>
    <% end %>
  </table>
  <br />

<% end %>

<%= will_paginate @desires, :prev_label => 'Anterior', :next_label => 'Próximo' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-3").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>
