<% content_for :breadcrumb do %>
    <li><%= link_to "Lista de Desejos", desires_path + "&search[meta_sort]=title.asc" %> <span class="divider">/</span></li>
    <li class="active">Novo Desejo</li>
<% end %>

<%= render 'form' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-3").addClass("active");
  });
</script>



