<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @desire.title %>
</p>

<p>
  <b>Preço:</b>
  <%= @desire.price %>
</p>

<p>
  <b>Prioridade:</b>
  <%= @desire.priority %>
</p>

<div data-role="controlgroup" data-type="horizontal">
  <%= link_to 'Editar', edit_desire_path(@desire), 'data-role' => "button", 'data-theme' => "a", 'data-ajax' => "false" %>
  <%= link_to 'Voltar', desires_path, 'data-role' => "button", 'data-ajax' => "false" %>
</div>
