<p id="notice"><%= notice %></p>


<p>
  <b>title:</b>
  <%= @desire.title %>
</p>


<p>
  <b>price:</b>
  <%= @desire.price %>
</p>


<p>
  <b>priority:</b>
  <%= @desire.priority %>
</p>


<p>
  <b>user_id:</b>
  <%= @desire.user_id %>
</p>



<%= link_to 'Editar', edit_desire_path(@desire) %> |
<%= link_to 'Voltar', desires_path %>
