<% content_for :breadcrumb do %>
    <li><a href="#">Usuários</a> <span class="divider">/</span></li>
    <li class="active">Alterar Senha</li>
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-stacked" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password, "Nova Senha" %>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Confirmar Nova Senha" %>
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Alterar senha", :class => 'btn' %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
