<% content_for :title do %>
  Acesso ao Sistema
<% end %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-stacked" }) do |f| %>

  <p>Informe seu e-mail no formulário abaixo para receber uma mensagem contendo instrução de como recuperar sua senha.</p>

  <p><%= f.label :email %>
  <%= f.email_field :email, :class => "span5", :required => :required %></p>

  <p><%= f.submit "Enviar instruções", :class => "btn" %></p>
<% end %>
