<h3>Adicionar Movimentação</h3>

<%= form_for(@movimentation) do |f| %>
  <% if @movimentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimentation.errors.count, "error") %> impediram o formul&aacute;rio de ser salvo:</h2>

      <ul>
      <% @movimentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %>
  
  <table width="100%">
    <tr>
      <td width="50%"  valign="top">
        <div class="field">
          <%= f.label :category_id %>:<br />
          <%= f.radio_button :type_of_movimentation, '2', :checked => true  %>Despesa
          <%= f.radio_button :type_of_movimentation, '1' %>Receita
        </div>
  
        <div class="field">
          <%= f.label :description %>:<br />
          <%= f.text_field :description, :size => 47 %>
        </div>
        
        <div class="field">
          <%= f.label :local_to_pay %>:<br />
          <%= f.text_field :local_to_pay, :size => 47 %>
        </div>
        
        <div class="field">
          <%= f.label :value %>:<br />
          <%= f.text_field :value, :size => 12 %>
        </div>
      </td>
      <td width="50%"  valign="top">
        <div class="field">
          <%= f.label :payday %>:<br />
          <%= f.date_select :payday %>
        </div>
        
        <div class="field">
          <%= f.check_box :is_fixed, {}, true, false %> É uma movimentação fixa?
        </div>
  
        <div class="field">
          <%= f.check_box :is_subdivided, {}, true, false %> É uma movimentação parcelada?
        </div>
  
        <div class="field" id="div_quantity">
          <%= f.label 'Repetir por' %>: 
          <%= f.text_field :quantity, :size => 8 %> meses
        </div>
      </td>
    <tr>
  </table>
  <br />
  <div class="actions">
    <%= f.submit 'Salvar', :class => "btn btn-large"  %>
  </div>
<% end %>

