<%= form_tag(goto_path, :method => "get") do %>
  
    SELECIONE O PERÍODO:
    <%=  select_month(@month) %><%=  select_year(@year) %>
    <%= submit_tag 'Confirmar', :class => 'btn' %>
  
<% end %>

