<script>
    $(document).ready(function(){
      $("#movimentation_value").val($("#movimentation_value").val().replace(".", ","));
      $("#movimentation_value").numeric(",");
      $("#movimentation_value").floatnumber(",",2);
    });
</script>

<%= form_for(@movimentation, :html => { :class => "form-stacked", :multipart => true }) do |f| %>
  <% if @movimentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimentation.errors.count, "error") %> impediram o formul&aacute;rio de ser salvo:</h2>

      <ul>
      <% @movimentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :situation, :value => :true %>

  <p class="field">
    <%= f.label 'Confirmar Valor' %>
    <%= f.text_field :value, :class => 'span2', :required => :required %>
  </p>

  <p class="field">
    <%= f.label 'Anexar comprovante de pagamento' %>
    <%= f.file_field :receipt %>
  </p>
  
  <% if @movimentation.id == nil %>
  <p class="field">
    <%= f.label :payday %>:<br />
    <%= f.date_select :payday %>
  </p>
  <% end %>

  <br />

  <p>
    <%= f.submit 'Confirmar', :class => "btn" %> <%= link_to 'Cancelar', session[:back] ? session[:back] : movimentations_path, :class => "btn btn-danger" %>
  </p>
<% end %>

<br />

