<%= form_for(@movimentation, :html => { :method => :delete, :class => "form-stacked" }) do |f| %>
  
  <%= f.hidden_field :id %>
  <p>Ao responder NÃO na opção abaixo, você estará removendo todas as movimentações semelhantes/correspondentes a esta movimentação. Caso deseje manter seu histórico pago/recebido, responda SIM.</p>
  <p>
    <%= f.label(:delete_all, "Apagar todas as movimentações correspondentes a esta movimentação?") %>
    <%= f.radio_button(:delete_all, "true") %> SIM
    <%= f.radio_button(:delete_all, "false", :checked => true) %> NÂO
  </p>
  <br /><br />
  <p>
    <%= f.submit 'Apagar', :class => "btn" %> <%= link_to 'Cancelar', session[:back] ? session[:back] : movimentations_path, :class => "btn btn-danger" %>
  </p>
<% end %>
