<script>
  $(document).ready(function(){
      $("#movimentation_value").val($("#movimentation_value").val().replace(".", ","));
      $("#movimentation_value").numeric(",");
      $("#movimentation_value").floatnumber(",",2);

      $("#div_quantity").hide();
      
      $("#movimentation_is_fixed").click(function () {  
        if( $("#movimentation_is_fixed").is(':checked') ){
          $("#div_quantity").show("slow");
          $('#movimentation_is_subdivided').attr('checked', false);
        }
        
        if(!$("#movimentation_is_fixed").is(':checked') && !$("#movimentation_is_subdivided").is(':checked')){
          $("#div_quantity").hide("slow");
          $("#movimentation_quantity").val('0');
        }
      });
      
      $("#movimentation_is_subdivided").click(function () {  
       
        if( $("#movimentation_is_subdivided").is(':checked') ){
          $("#div_quantity").show("slow");
          $('#movimentation_is_fixed').attr('checked', false);
        }

        if(!$("#movimentation_is_fixed").is(':checked') && !$("#movimentation_is_subdivided").is(':checked')){
          $("#div_quantity").hide("slow");
          $("#movimentation_quantity").val('0');
        }
      });
  });

</script>

<%= form_for @movimentation, :html => { :class => "form-stacked" } do |f| %>
  <% if @movimentation.errors.any? %>
    <div class="alert-message error fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <div><%= pluralize(@movimentation.erro.count, "erro") %> impediram o formul&aacute;rio de ser salvo</div>
    </div>
    <div id="error_explanation">
     <ul>
      <% @movimentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id %>

  <div >
    <%= f.label :type_of_movimentation, "Tipo" %>
    <div class="controls">
      <div class="btn-group" data-toggle-name="movimentation[type_of_movimentation]" data-toggle="buttons-radio" >
        <button type="button" value="2" class="btn" data-toggle="button">Despesa</button>
        <button type="button" value="1" class="btn" data-toggle="button">Receita</button>
      </div>
      <%= f.hidden_field :type_of_movimentation %>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      jQuery(function($) {
        $('div.btn-group[data-toggle-name=*]').each(function(){
          var group   = $(this);
          var form    = group.parents('form').eq(0);
          var name    = group.attr('data-toggle-name');
          var hidden  = $('input[name="' + name + '"]', form);
          $('button', group).each(function(){
            var button = $(this);
            button.live('click', function(){
                hidden.val($(this).val());
            });
            if(button.val() == hidden.val()) {
              button.addClass('active');
            }
          });
        });
      });
    });
  </script>

  <br />
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, :class => 'span6' %>
  </div>

  <div>
    <%= f.label :local_to_pay %>
    <%= f.text_field :local_to_pay, :class => 'span6' %>
  </div>

  <div>
    <%= f.label 'Categoria:' %>
    <%= f.select(:category_id , Category.where("user_id = ?", current_user.id).order(:title).map { |category| [category.title, category.id] }, { :include_blank => true }) %>
  </div>

  <div>
    <%= f.label :value %>
    <%= f.text_field :value, :class => 'span2' %>
  </div>
  
  <% if @movimentation.id != nil %>
  
  <div>
    <%= f.label 'Altera preço somente nesta movimentação (ignorar outras parcelas)' %>
    <%= f.radio_button :save_value_only_in_this, "false", :checked => true %>Não
    <%= f.radio_button :save_value_only_in_this, "true" %>Sim
  </div>

  <% if @movimentation.receipt_file_name != nil %>
  <p class="field">
    <%= f.label 'Anexar comprovante de pagamento (Atualizar Comprovante)' %>
    <%= f.file_field :receipt %>
  </div>
  <% end %>
  
  <% end %>

  <% if @movimentation.id == nil %>
  
  <div>
    <%= f.label :payday %>
    <%= f.date_select :payday %>
  </div>
  
  <div>
    <%= f.check_box :is_fixed, {}, true, false %> É uma movimentação fixa?
  </div>
  
  <div>
    <%= f.check_box :is_subdivided, {}, true, false %> É uma movimentação parcelada?
  </div>
  
  <div id="div_quantity">
    <%= f.label 'Repetir por' %> 
    <%= f.text_field :quantity, :size => 8, :class => 'span1' %> meses
  </div>

  <% end %>

  <br />
  <div>
    <%= f.submit 'Salvar', :class => "btn" %> 
  </div>
<% end %>

