<% content_for :breadcrumb do %>
    <li><a href="#">Movimentações</a> <span class="divider">/</span></li>
    <li class="active">Todas as Contas a Receber e a Pagar</li>
<% end %>

<div class="form-search">
  <%= form_for @search, :url => "/all" do |f| %>
    <%= f.text_field :description_or_local_to_pay_contains, :class => "span5", :placeholder => "Pesquisar" %>
    <%= submit_tag "Pesquisar", :class => "btn" %>
  <% end %>
</div>

<table class="table table-striped">
  <tr>
    <th width="65" align="center">Vencimento</th>
    <th width="240" align="left">Descrição</th>
    <th width="130" align="center">Local</th>
    <th width="90" align="left">Categoria</th>
    <th width="80" align="left">Tipo</th>
    <th width="100" align="center">Valor</th>
    <th width="100"></th>
  </tr>

<% @movimentations.each do |movimentation| %>
  <tr onmouseover="show_button(<%= movimentation.id %>)" onmouseout="hide_button(<%= movimentation.id %>)">
    <td  align="center"><%= movimentation.payday.to_s_br %></td>
    <td  align="left">
      <% if movimentation.situation == true %>
        <span class="icon-ok"></span>
      <% end %>
      <%= link_to movimentation do %>
        <%= movimentation.description.upcase unless movimentation.description == nil %>
        <% unless movimentation.is_fixed %>
          <% unless movimentation.number == nil %>
          (<%= movimentation.number %>)
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td align="center"><%= movimentation.local_to_pay.upcase unless movimentation.local_to_pay == nil %></td>
    <td align="left">
        <% unless movimentation.category == nil %>
            <span style="background-color: <%= movimentation.category.color %>; border: 2px solid <%= movimentation.category.color %>;">&nbsp;</span>
            <%= movimentation.category.title.upcase %>
        <% end %>
    </td>
    <td align="center"><%= movimentation.type_of_movimentation == 1 ? "RECEITA" : "DESPESA" %></td>
    <td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>
    <td align="right">
      <div class="btn-action" id="<%= movimentation.id %>">
      <% unless movimentation.situation %>
        <%= link_to change_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
          <%= image_tag "icon-payment.gif", :align => :absmiddle, :border => 0 %>
        <% end %>
      <% end %>
      <%= link_to edit_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar esta movimentação' do %>
       <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
      <% end %>
      <%= link_to delete_movimentation_path(movimentation), :title => "Apagar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta movimentação' do %>
       <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>

</table>

 <%= will_paginate @movimentations %>