<% content_for :breadcrumb do %>
  <li><a href="/">Movimentações</a> <span class="divider">/</span></li>
  <li class="active">Quitar <%= @movimentation.description %></li>
<% end %>

  <% if @movimentation.category_id == 1 %>
    <h3>Confirmar recebimento de <%= @movimentation.description %> <%= "(" + @movimentation.local_to_pay + ")" unless @movimentation.local_to_pay == ""%>?</h3>
  <% else %>
    <h3>Confirmar pagamento de <%= @movimentation.description %> <%= "(" + @movimentation.local_to_pay + ")" unless @movimentation.local_to_pay == ""%>?</h3>
  <% end %>


<%= render 'form_change' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-1").addClass("active");
  });
</script>

