<% content_for :breadcrumb do %>
  <li><a href="/">Movimentações</a> <span class="divider">/</span></li>
  <li class="active">Apagar</li>
<% end %>

    <h3>Deseja relmente apagar <%= @movimentation.description %> <%= "(" + @movimentation.local_to_pay + ")" unless @movimentation.local_to_pay == ""%>?</h3>

<%= render 'form_delete' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-1").addClass("active");
  });
</script>

