<%= stylesheet_link_tag 'colorPicker' %>

<% content_for :breadcrumb do %>
    <li><a href="#">Movimentações</a> <span class="divider">/</span></li>
    <li class="active">Contas a receber e a pagar</li>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".show_hide").toggle(function() {
      $("#select_month").fadeIn(); 
    }, function() {
      $("#select_month").fadeOut(); 
    });
  });
</script>

<% url_previous = "/movimentations?month=#{@previous_month}" %>
<% url_next = "/movimentations?month=#{@next_month}" %>
<% url_previous = url_previous + "&year=#{@previous_year}" if @previous_month == 12 %>
<% url_next = url_next + "&year=#{@next_year}" if @next_month == 1 %>
<% if params[:year] %>
  <% url_previous = url_previous + "&year=#{params[:year]}" if @previous_month != 12 %>
  <% url_next = url_next + "&year=#{params[:year]}" if @next_month != 1 %>
<% end %>
<div class="buttons">
  <%= link_to url_previous, :class => "btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Mês anterior' do %>
    <%= image_tag "arrow_left.png", :valign => :bottom %>
  <% end %>
  <%= link_to "#", :class => "btn btn-small show_hide", 'data-placement' => "below", :rel => 'twipsy', :title => 'Selecionar para qual mês deseja ir' do %>
    <%= image_tag "icon-calendar.gif", :valign => :bottom %> <%= Time.new(@year, @month, 1).strftime("%B de %Y") %>
  <% end %>
  <%= link_to url_next, :class => "btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Próximo mês' do %>
    <%= image_tag "arrow_right.png", :valign => :bottom  %>
  <% end %>

</div>

<%= javascript_include_tag 'add_movimentation_form' %>

<div id="select_month" style="display: none;">
  <%= render("form_select_period") %>
</div>

<div id="clear"></div>

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#resume" data-toggle="tab">Resumo</a></li>
  <li><a href="#recept" data-toggle="tab">Contas a Receber</a></li>
  <li><a href="#pay" data-toggle="tab">Contas a Pagar</a></li>
  <li><a href="#add" data-toggle="tab">Adicionar Movimentação</a></li>
</ul>

<div id="my-tab-content" class="tab-content">

  <div class="tab-pane" id="recept">

    <table class="table table-striped">
      <tr>
        <th width="65" align="center">Vencimento</th>
        <th width="285" align="left">Descrição</th>
        <th width="140" align="center">Local</th>
        <th width="100" align="left">Categoria</th>
        <th width="100" align="center">Valor</th>
        <th width="100"></th>
      </tr>

    <% to_recept_total = 0 %>
    <% to_receive_total = 0 %>
    <% receive_total = 0 %>
    <% @movimentations_in.each do |movimentation| %>
      <tr onmouseover="show_button(<%= movimentation.id %>)" onmouseout="hide_button(<%= movimentation.id %>)">
        <td  align="center"><%= movimentation.payday.to_s_br %></td>
        <td  align="left">
          <% if movimentation.situation == true %>
            <span class="icon-ok"></span>
          <% end %>
          <%= link_to movimentation do %>
            <%= movimentation.description.upcase unless movimentation.description == nil %>
            <% unless movimentation.is_fixed %>
              <% unless movimentation.number == nil %>
              (<%= movimentation.number %>)
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td align="center"><%= movimentation.local_to_pay.upcase unless movimentation.local_to_pay == nil %></td>
        <td align="left">
            <% unless movimentation.category == nil %>
                <span style="background-color: <%= movimentation.category.color %>; border: 2px solid <%= movimentation.category.color %>;">&nbsp;</span>
                <%= movimentation.category.title.upcase %>
            <% end %>
        </td>
        <td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>
        <td align="right">
          <div class="btn-action" id="<%= movimentation.id %>">
          <% unless movimentation.situation %>
            <%= link_to change_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
              <%= image_tag "icon-payment.gif", :align => :absmiddle, :border => 0 %>
            <% end %>
          <% end %>
          <%= link_to edit_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar esta movimentação' do %>
           <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          <%= link_to delete_movimentation_path(movimentation), :title => "Apagar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta movimentação' do %>
           <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          </div>
        </td>
      </tr>
      <% to_recept_total = to_recept_total +  movimentation.value %>
      <% to_receive_total = to_receive_total +  movimentation.value unless movimentation.situation %>
      <% receive_total = receive_total +  movimentation.value if movimentation.situation %>
    <% end %>

      <tr>
        <td colspan="7" align="left" class="last_line">
          <b>A Receber:</b> <%= to_receive_total.real_contabil %>
          <span class="pull-right"><b>Recebido:</b> <%= receive_total.real_contabil %></span>
        </td>
      </tr>
    </table>
  </div>

  <div class="tab-pane" id="pay">

    <table class="table table-striped">
      <tr>
        <th width="65" align="center">Vencimento</th>
        <th width="285" align="left">Descrição</th>
        <th width="140" align="center">Local</th>
        <th width="100" align="left">Categoria</th>
        <th width="100" align="center">Valor</th>
        <th width="100"></th>
      </tr>

    <% to_pay_total = 0 %>
    <% has_to_pay_total = 0 %>
    <% paid_total = 0 %>
    <% @movimentations_out.each do |movimentation| %>
      <tr onmouseover="show_button(<%= movimentation.id %>)" onmouseout="hide_button(<%= movimentation.id %>)">
        <td  align="center"><%= movimentation.payday.to_s_br %></td>
        <td  align="left">
          <% if movimentation.situation == true %>
            <span class="icon-ok"></span>
          <% end %>
          <%= link_to movimentation do %>
            <%= movimentation.description.upcase unless movimentation.description == nil %>
            <% unless movimentation.is_fixed %>
              <% unless movimentation.number == nil %>
              (<%= movimentation.number %>)
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td align="center"><%= movimentation.local_to_pay.upcase unless movimentation.local_to_pay == nil %></td>
        <td align="left">
            <% unless movimentation.category == nil %>
                <span style="background-color: <%= movimentation.category.color %>; border: 2px solid <%= movimentation.category.color %>;">&nbsp;</span>
                <%= movimentation.category.title.upcase %>
            <% end %>
        </td>
        <td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>
        <td align="right">
          <div class="btn-action" id="<%= movimentation.id %>">
          <% unless movimentation.situation %>
            <%= link_to change_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
              <%= image_tag "icon-payment.gif", :align => :absmiddle, :border => 0 %>
            <% end %>
          <% end %>
          <%= link_to edit_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar esta movimentação' do %>
           <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          <%= link_to delete_movimentation_path(movimentation), :title => "Apagar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta movimentação' do %>
           <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          </div>
        </td>
      </tr>
      <% to_pay_total += movimentation.value %>
      <% has_to_pay_total +=  movimentation.value unless movimentation.situation %>
      <% paid_total += movimentation.value if movimentation.situation %>
    <% end %>

    <% @creditcard_movimentations.each do |movimentation| %>
      <tr onmouseover="show_button('card<%= movimentation.credicard_id %>')" onmouseout="hide_button('card<%= movimentation.credicard_id %>')">
        <td  align="center"><%= movimentation.payday.to_s_br %></td>
        <td  align="left">
          <% if movimentation.situation == true %>
            <span class="icon-ok"></span>
          <% end %>
          <%= link_to creditcard_path(movimentation.credicard_id) do %>
            <%= movimentation.description.upcase unless movimentation.description == nil %>
          <% end %>
          <% unless movimentation.is_fixed %>
            <% unless movimentation.number == nil %>
            <span class="label label-important pull-right"><%= movimentation.number %></span>
            <% end %>
          <% end %>
        </td>
        <td align="center"><%= movimentation.local_to_pay.upcase unless movimentation.local_to_pay == nil %></td>
        <td align="left">
            <% unless movimentation.category == nil %>
                <span style="background-color: <%= movimentation.category.color %>; border: 2px solid <%= movimentation.category.color %>;">&nbsp;</span>
                <%= movimentation.category.title.upcase %>
            <% end %>
        </td>
        <td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>
        <td align="right">
          <div class="btn-action" id="card<%= movimentation.credicard_id %>">
          <% unless movimentation.situation %>
            <%= link_to new_creditcard_payment_path + "?creditcard_id=#{movimentation.credicard_id}&month=#{@month}&year=#{@year}&value=#{movimentation.value}", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
              <%= image_tag "icon-payment.gif", :align => :absmiddle, :border => 0 %>
            <% end %>
          <% end %>
          <%= link_to creditcard_path(movimentation.credicard_id) + request.request_uri.to_s.gsub("/movimentations", ""), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar esta movimentação' do %>
           <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          </div>
        </td>
      </tr>
      <% to_pay_total += movimentation.value %>
      <% has_to_pay_total +=  movimentation.value unless movimentation.situation %>
      <% paid_total += movimentation.value if movimentation.situation %>
    <% end %>

      <tr>
        <td colspan="7" align="left" class="last_line">
          <b>A Pagar:</b> <%= has_to_pay_total.real_contabil %>
          <span class="pull-right"><b>Pago:</b> <%= paid_total.real_contabil %></span>
        </td>
      </tr>
    </table>
  </div>

  <div class="tab-pane active" id="resume">
    <div class="row">
      <div class="span3">
          <ul class="nav nav-list">
            <li class="nav-header">Contas a Receber</li>
            <li>
              <a href="#">Recebido: <%= receive_total.real_contabil %></a>
            </li>
            <li>
              <a href="#">A receber: <%= to_receive_total.real_contabil %></a>
            </li>
            <li class="nav-header">
              Contas a Pagar
            </li>
            <li>
              <a href="#">Pago: <%= paid_total.real_contabil %></a>
            </li>
            <li>
              <a href="#">A pagar: <%= has_to_pay_total.real_contabil %></a>
            </li>
            <li class="nav-header">
              Total no Mês
            </li>
            <li>
              <a href="#">Entrada: <%= to_recept_total.real_contabil %></a>
            </li>
            <li>
              <a href="#">Saída: <%= to_pay_total.real_contabil %></a>
            </li>
            <li class="nav-header">
              Saldo no Mês
            </li>
            <li>
              <a href="#"><%= (to_recept_total - to_pay_total).real_contabil %></a>
            </li>
          </ul>
      </div>
      <div class="span8">
        <script type="text/javascript" >
          var chart1; // globally available
          $(document).ready(function() {
              chart1 = new Highcharts.Chart({
                 chart: {
                    renderTo: 'chart',
                    type: 'column'
                 },
                 title: {
                    text: 'Movimentações no mês de <%= Date.new(@year, @month, 1).strftime("%B de %Y") %>'
                 },
                tooltip: {
                         formatter: function() {
                            return ''+
                               'R$ '+ this.y;
                         }
                      },
                 xAxis: {
                    categories: ['Movimentações']
                 },
                 yAxis: {
                    title: {
                       text: 'Total (R$)'
                    }
                 },
                 series: [{
                    name: 'A receber',
                    data: [<%= to_recept_total %>]
                 }, {
                    name: 'A Pagar',
                    data: [<%= to_pay_total %>]
                 }]
              });
           });
        </script>
        <div id="chart" style="width: 100%; height: 300px"></div>
      </div>
    </div>

  </div>

  <div class="tab-pane" id="add">
    <div class="row">
      <div class="span7">
        <%= render 'form' %>
      </div>
      <div class="span5">
        <div class="well">
          <span class="label label-info">Dica</span>
          <p>Quando for prencher o formulário com contas fixas ou parceladas, você deve indicar o valor da parcela e informar quantas vezes deseja repetir.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none">
  <div class="inline">
    <%= render("form_new") %>
  </div>
</div>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-1").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>
