<% content_for :breadcrumb do %>
    <li><a href="/">Movimentações</a> <span class="divider">/</span></li>
    <li class="active">Nova Movimentação</li>
<% end %>

<%= render 'form' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-1").addClass("active");
  });
</script>




