<% content_for :breadcrumb do %>
    <li><a href="#">Movimentações</a> <span class="divider">/</span></li>
    <li class="active">Atrasadas</li>
<% end %>
<div id="clear"></div>

<h3>CONTAS A RECEBER</h3>

<% to_recept_total = 0 %>

<% if @movimentations_in.size > 0 %>

<table  class="table table-striped ">
  <tr>
    <th width="75" align="center">Vencimento</th>
    <th width="400" align="left">Descrição</th>
    <th width="200" align="center">Local</th>
    <th width="80" align="center">Valor</th>
    <th width="40"></th>
  </tr>

  <% to_receive_total = 0 %>
  <% receive_total = 0 %>
  <% @movimentations_in.each do |movimentation| %>
  <tr onmouseover="show_button(<%= movimentation.id %>)" onmouseout="hide_button(<%= movimentation.id %>)">
    <td  align="center"><%= movimentation.payday.to_s_br %></td>
    <td  align="left">
      <%= link_to movimentation do %>
        <%= movimentation.description.upcase unless movimentation.description == nil %>
        <% unless movimentation.is_fixed %>
          <% unless movimentation.number == nil %>
            (<%= movimentation.number %>)
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td align="center"><%= movimentation.local_to_pay.upcase unless movimentation.local_to_pay == nil %></td>
    <td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>

    <td align="right">
      <div class="btn-action" id="<%= movimentation.id %>">
      <%= link_to change_movimentation_path(movimentation), :title => "Editar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
        <%= image_tag "icon-payment.gif", :border => "0" %>
      <% end %>
      </div>
    </td>
  </tr>
  <% to_recept_total = to_recept_total +  movimentation.value %>
  <% to_receive_total = to_receive_total +  movimentation.value unless movimentation.situation %>
  <% receive_total = receive_total +  movimentation.value if movimentation.situation %>
  <% end %>
  <tr>
    <td colspan="5" align="left" class="last_line">
      <span class="pull-right"><b>A Pagar:</b> <%= to_recept_total.real_contabil %></span>
    </td>
  </tr>
</table>

<% else %>
  <p>Nenhuma conta a receber em atraso.</p>
<% end %>

<h3>CONTAS A PAGAR</h3>

<% to_pay_total = 0 %>

<% if @movimentations_out.size > 0 %>


<table  class="table table-striped">
  <tr>
    <th width="75" align="center">Vencimento</th>
    <th width="400" align="left">Descrição</th>
    <th width="200" align="center">Local</th>
    <th width="80" align="center">Valor</th>
    <th width="40"></th>
  </tr>

  <% has_to_pay_total = 0 %>
  <% paid_total = 0 %>
  <% @movimentations_out.each do |movimentation| %>
  <tr onmouseover="show_button(<%= movimentation.id %>)" onmouseout="hide_button(<%= movimentation.id %>)">
    <td  align="center"><%= movimentation.payday.to_s_br %></td>
    <td  align="left">
      <%= link_to movimentation do %>
        <%= movimentation.description.upcase unless movimentation.description == nil %>
        <% unless movimentation.is_fixed %>
          <% unless movimentation.number == nil %>
            (<%= movimentation.number %>)
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td align="center"><%= movimentation.local_to_pay.upcase unless movimentation.local_to_pay == nil %></td>
    <td align="center">&nbsp;&nbsp;<%= movimentation.value.real_contabil %></td>

    <td align="right">
      <div class="btn-action" id="<%= movimentation.id %>">
      <%= link_to change_movimentation_path(movimentation), :title => "Editar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
        <%= image_tag "icon-payment.gif", :border => "0" %>
      <% end %>
      </div>
    </td>
  </tr>
  <% to_pay_total = to_pay_total +  movimentation.value %>
  <% has_to_pay_total = has_to_pay_total +  movimentation.value unless movimentation.situation %>
  <% paid_total = paid_total +  movimentation.value if movimentation.situation %>
  <% end %>
  <tr>
    <td colspan="5" align="left" class="last_line">
      <span class="pull-right"><b>A Pagar:</b> <%= to_pay_total.real_contabil %></span>
    </td>
  </tr>
</table>

<% else %>
  <p>Nenhuma conta a pagar em atraso.</p>
<% end %>

<script>
  $("td:contains('A pagar')").css("color", "#F03");
  $("td:contains('Pago')").css("color", "#9C0");
  $("td:contains('A Receber')").css("color", "#F03");
  $("td:contains('Recebido')").css("color", "#9C0");
</script>


<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-1").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>
