<% total = 0 %>
<% total_payed = 0 %>
<% total_to_pay = 0 %>
<% @movimentations.each do |movimentation| %>
  <%
    total = total + movimentation.value
    if movimentation.situation == false
     total_to_pay = total_to_pay + movimentation.value
    else
     total_payed = total_payed + movimentation.value
    end
  %>
<% end %>

<% content_for :breadcrumb do %>
    <li><a href="/">Movimentações</a> <span class="divider">/</span></li>
    <li class="active">Detalhes da Movimentação</li>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6">
    <h3>
      <%= @movimentation.description.upcase %>
    </h3>
    <p>
      <b>Tipo:</b>
      <%= @movimentation.type %>
    </p>
    <p>
      <b>Local:</b>
      <%= @movimentation.local_to_pay %>
    </p>
    <p>
      <b>Total:</b>
      <%= total.real_contabil %>
    </p>
    <p>
      <b>Quitado:</b>
      <%= total_payed.real_contabil %>
    </p>
    <p>
      <b>A quitar:</b>
      <%= total_to_pay.real_contabil %>
    </p>
  </div>
  <div class="span6">
    <h3>PARCELAS</h3>
      <table class="table table-striped" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th align="left" width="80">Vencimento</th>
          <th align="left" width="250">Valor</th>
          <th align="left" width="120" colspan="2">&nbsp;</th>
        </tr>
      <% @movimentations.each do |movimentation| %>
        <tr onmouseover="show_button(<%= movimentation.id %>)" onmouseout="hide_button(<%= movimentation.id %>)">
          <td><%= movimentation.payday.to_s_br %></td>
          <td>
            <% if movimentation.situation == true %>
              <span class="icon-ok"></span>
            <% end %>
            <%= movimentation.value.real_contabil %>
            <% unless movimentation.is_fixed %>
              <% unless movimentation.number == nil %>
              <span class="label important "><%= movimentation.number %></span>
              <% end %>
            <% end %>
          </td>
          <td>
            <div class="btn-action" id="<%= movimentation.id %>">
            <% unless movimentation.situation %>
              <%= link_to change_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Quitar esta movimentação' do %>
              <%= image_tag "icon-payment.gif", :align => :absmiddle, :border => 0 %>
              <% end %>
            <% else %>
              <%= link_to change_situation_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Estornar esta movimentação', :confirm => 'Tem certeza que deseja extornar esta movimentação?' do %>
                <%= image_tag "icon-reverse.gif", :align => :absmiddle, :border => 0 %>
              <% end %>
              <% if movimentation.receipt_file_name != nil %>
                <%= link_to movimentation.receipt.url, :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Baixar comprovante de pagamento', :target => :blank do %>
                  <%= image_tag "icon_anexo.gif", :align => :absmiddle, :border => 0 %>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to edit_movimentation_path(movimentation), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar esta movimentação' do %>
            <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </table>
  </div>
</div>

<p><%= link_to 'Voltar', movimentations_path %></p>

<script>
  $("td:contains('A pagar')").css("color", "#F03");
  $("td:contains('Pago')").css("color", "#9C0");
  $("td:contains('A Receber')").css("color", "#F03");
  $("td:contains('Recebido')").css("color", "#9C0");
</script>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-1").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>

