<%= form_for(@user, :url => session_path(@user), :html => { 'data-ajax' => "false" }) do |f| %>

<b>Acesse sua conta:</b>

<input class="span3" id="user_email" name="user[email]" size="15" type="email" value="" placeholder="E-mail" required />
<input class="span2" id="user_password" name="user[password]" size="15" type="password" value="" placeholder="Senha" required/>
<label><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />  Lembrar de mim </label>

<input id="user_submit" name="commit" type="submit" value="Entrar" data-theme="b" />
<% end %>