<div class="container">
  <div class="row">
    <div class="span12">
      <div class="pull-right">
          <%= form_for(@user, :url => session_path(@user), :html => { :class => "form-horizontal" }) do |f| %>
            <b>Acesse sua conta:</b>
            <input class="span3" id="user_email" name="user[email]" size="15" type="email" value="" placeholder="E-mail" required />
            <input class="span2" id="user_password" name="user[password]" size="15" type="password" value="" placeholder="Senha" required/>
            <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"/> Lembrar de mim
            <input class="btn btn-primary" id="user_submit" name="commit" type="submit" value="Entrar" />
          <% end %>
      </div>
    </div>
  </div>
  <div class="hero-unit">
    <h1>Controle Financeiro</h1>
    <p>Não perca suas contas de vista, tenha todo o controle sobre suas contas pessoais, cadastre-se agora e começe a organizar suas finanças. Sistema totalmente on-line e gratuito.</p>
    <a class="btn large primary" href="#">Cadastre-se, leva menos de 1 minuto</a>
  </div>
  <div class="row">
    <div class="span7">
      <div class="row">
        <div class="span7">
          <h2>Caracteristicas do Sistema</h2>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <h4>Gratuito</h4>
          <p>Além de fácil de usar, o controle financeiro é totalmente gratuito.</p>
        </div>
        <div class="span3">
          <h4>Mensal</h4>
          <p>Você terá total controle sobre seus gastos e receitas mês a mês. Visualize de forma fácil suas contas.</p>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <h4>Alertas</h4>
          <p>Não deixe nada atrasar, receba todos os dias alertas por e-mail.</p>
        </div>
        <div class="span3">
          <h4>Lista de Desejos</h4>
          <p>Cadastre items que você deseja comprar ou serviços que deseja fazer, defina sua prioridade e conquiste seus objetivos</p>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <h4>Situação da Conta</h4>
          <p>Marque uma conta como recebida ou paga e fique sabendo quanto tem a receber e/ou pagar.</p>
        </div>
        <div class="span3">
          <h4>Tá esperando o quê?</h4>
          <p>Cadastre-se agora mesmo e começe a utilizar o sistema.</p>
        </div>
      </div>
    </div>
    <div class="span4 form-user">
      <div class="row">
        <div class="span4">
          <h2>Não tem cadastro?</h2>
          <p>Cadastre-se preenchendo o formulário abaixo, é rápido e fácil.</p>
        </div>
        <div class="span4">
          <form accept-charset="UTF-8" action="/users?locale=pt-BR" class="user_new form-stacked" id="user_new" method="post">
            <div>
              <label for="user_name">Nome</label>
              <input id="user_name" name="user[name]" size="30" type="text" class="span4" placeholder="Informe seu nome completo" required/>
            </div>
            <div>
              <label for="user_email">E-mail</label>
              <input id="user_email" name="user[email]" size="30" type="email" value="" class="span4" placeholder="Informe seu e-mail" required/>
            </div>
            <div>
              <label for="user_password">Senha</label>
              <input id="user_password" name="user[password]" size="30" type="password" class="span4" placeholder="Informe sua senha" required/>
            </div>
            <div>
              <label for="user_password_confirmation">Confirmação de Senha</label>
              <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" class="span4" placeholder="Repita sua senha para confirmação" required/>
            </div>
            <input id="user_send_resume_mail" name="user[send_resume_mail]" type="hidden" value="false" />
            <div>
              <input class="btn btn-primary" id="user_submit" name="commit" type="submit" value="Cadastrar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; Controle Financeiro 2011-<%= Time.new.year %> - www.controlefinanceiro.tk <br />Desenvolvido por <a href="http://www.mario-jorge.net" target="_blank">mario-jorge.net</a></p>
  </footer>
</div>

