<%= form_for(@creditcard, :html => { :class => "form-stacked" }) do |f| %>
  <% if @creditcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creditcard.errors.count, "erro") %> impediram o formul&aacute;rio de ser salvo:</h2>

      <ul>
      <% @creditcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "Nome do Cartão" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "Bandeira" %>
    <%= f.select(:flag, options_for_select([["Visa", "Visa"], ["Mastercard", "Mastercard"], ["American Express", "American Express"], ["Diners", "Diners"], ["Hipercard", "Hipercard"], ["Aura", "Aura"]]), { :include_blank => true }) %>
  </div>
  <div>
    <%= f.label "Melhor Dia" %>
    <%= f.number_field :closing_day, :maxlength => 2, :class => "span1" %>
  </div>
  <div>
    <%= f.label "Vencimento" %>
    <%= f.number_field :payday, :maxlength => 2, :class => "span1" %>
  </div>
  <div>
    <%= f.label "Limite de Compras" %>
    <%= f.text_field :limit, :class => "span2" %>
  </div>
  <%= f.hidden_field :user_id %>

  <div>
    <%= f.submit 'Salvar', :class => "btn" %> <%= link_to 'Cancelar', creditcards_path, :class => "btn btn-danger" %>
  </div>
<% end %>
