<script>
  $(document).ready(function(){
      $("#creditcard_item_value").val($("#creditcard_item_value").val().replace(".", ","));
      $("#creditcard_item_value").numeric(",");
      $("#creditcard_item_value").floatnumber(",",2);

      $("#div_quantity").hide();
      
      $("#creditcard_item_is_fixed").click(function () {  
        if( $("#creditcard_item_is_fixed").is(':checked') ){
          $("#div_quantity").show("slow");
          $('#creditcard_item_is_subdivided').attr('checked', false);
        }
        
        if(!$("#creditcard_item_is_fixed").is(':checked') && !$("#creditcard_item_is_subdivided").is(':checked')){
          $("#div_quantity").hide("slow");
          $("#creditcard_item_quantity").val('0');
        }
      });
      
      $("#creditcard_item_is_subdivided").click(function () {  
       
        if( $("#creditcard_item_is_subdivided").is(':checked') ){
          $("#div_quantity").show("slow");
          $('#creditcard_item_is_fixed').attr('checked', false);
        }

        if(!$("#creditcard_item_is_fixed").is(':checked') && !$("#creditcard_item_is_subdivided").is(':checked')){
          $("#div_quantity").hide("slow");
          $("#creditcard_item_quantity").val('0');
        }
      });
  });

</script>

<%= form_for(@creditcard_item, :html => { :class => "form-stacked" }) do |f| %>
  <% if @creditcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creditcard.errors.count, "error") %> impediram o formul&aacute;rio de ser salvo:</h2>

      <ul>
      <% @creditcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "Data da Compra" %>
    <%= f.date_select :purchased_in %>
  </div>

  <div>
    <%= f.label "Descrição" %>
    <%= f.text_field :title, :class => "span5" %>
  </div>

  <div>
    <%= f.label "Valor a Pagar" %>
    <%= f.text_field :value, :class => "span2" %>
  </div>

  <div>
    <%= f.check_box :is_fixed, {}, true, false %> É uma movimentação fixa?
  </div>

  <div>
    <%= f.check_box :is_subdivided, {}, true, false %> É uma movimentação parcelada?
  </div>

  <div id="div_quantity">
    <%= f.label 'Repetir por' %> 
    <%= f.text_field :quantity, :size => 8 %> meses
  </div>

  <%= f.hidden_field :creditcard_id %>

  <div>
    <%= f.submit 'Salvar', :class => "btn" %> <% link_to 'Cancelar', @creditcard, :class => "btn btn-danger" %>
  </div>
<% end %>
