<% content_for :breadcrumb do %>
    <li><a href="#">Cartões de Crédito</a> <span class="divider">/</span></li>
    <li class="active">Lista de Cartões</li>
<% end %>

<div class="buttons">
  <%= link_to 'Adicionar Cartão', "#myModal", :alt => 'Adicionar Cartão', :title => "Adicionar Categoria", :class => "btn btn-primary pull-right", 'data-toggle' => "modal" %>
</div>
<br />

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Adicionar Cartão de Crédito</h3>
  </div>
  <div class="modal-body">
    <%= render 'form' %>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th width="270" align="left">Nome do Cartão</th>
    <th width="136" align="left">Bandeira</th>
    <th width="90" align="left">Melhor Dia</th>
    <th width="90" align="left">Vencimento</th>
    <th width="150" align="left">Limite</th>
    <th width="100" colspan="3"></th>
  </tr>

<% @creditcards.each do |creditcard| %>
  <tr onmouseover="show_button(<%= creditcard.id %>)" onmouseout="hide_button(<%= creditcard.id %>)">
    <td  align="left">
      <%= link_to creditcard, :class => "table_line", 'data-placement' => "below", :rel => 'twipsy', :title => 'Visualizar Movimentações' do %>
        <%= creditcard.name.upcase unless creditcard.name == nil %></td>
      <% end %>
    <td  align="left"><%= creditcard.flag.upcase unless creditcard.flag == nil %></td>
    <td  align="left"><%= creditcard.closing_day %></td>
    <td  align="left"><%= creditcard.payday %></td>
    <td  align="left"><%= creditcard.limit.real_contabil %></td>
    <td>
    <div class="btn-action" id="<%= creditcard.id %>">
    <%= link_to creditcard, :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Visualizar Movimentações' do %>
      <%= image_tag "icon-creditcard.gif", :align => :absmiddle, :border => 0 %>
    <% end %>
    <%= link_to edit_creditcard_path(creditcard), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar este Cartão de Crédito' do %>
       <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
      <% end %>
      <%= link_to creditcard, :confirm => 'Tem certeza? Esta ação removerá todas as movimentações referente a este cartão', :method => :delete, :title => "Apagar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta movimentação' do %>
       <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
      <% end %>
    <div>
  </tr>
<% end %>
</table>
<br />

<%= will_paginate @creditcards, :prev_label => 'Anterior', :next_label => 'Próximo' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-2").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>
