<% content_for :breadcrumb do %>
    <li><%= link_to "Cartões de Crédito", creditcards_path %> <span class="divider">/</span></li>
    <li class="active">Movimentações no Cartão <%= @creditcard.name %></li>
<% end %>

<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="span3">
      <p>
        <b><%= @creditcard.name.upcase %></b>
      </p>

      <p>
        <b>Bandeira:</b>
        <%= @creditcard.flag %>
      </p>

      <p>
        <b>Melhor dia:</b>
        <%= @creditcard.closing_day %>
      </p>

      <p>
        <b>Vencimento:</b>
        <%= @creditcard.payday %>
      </p>

      <p>
        <b>Limite:</b>
        <%= @creditcard.limit.real_contabil %>
      </p>

    </div>
    <div class="span9">
      <% url_previous = "/creditcards/#{@creditcard.id}?month=#{@previous}" %>
      <% url_next = "/creditcards/#{@creditcard.id}?month=#{@next}" %>
      <% url_previous = url_previous + "&year=#{@year - 1}" if (@previous)  == 12 %>
      <% url_next = url_next + "&year=#{@year + 1}" if (@next) == 1 %>
      <% if params[:year] %>
        <% url_previous = url_previous + "&year=#{params[:year]}" if (@previous) != 12 %>
        <% url_next = url_next + "&year=#{params[:year]}" if (@next) != 1 %>
      <% end %>

      <div class="buttons">
        <%= link_to url_previous, :class => "btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Mês anterior' do %>
          <%= image_tag "arrow_left.png", :valign => :bottom %>
        <% end %>
        <%= link_to "#", :class => "btn btn-small show_hide", 'data-placement' => "below", :rel => 'twipsy', :title => 'Selecionar para qual mês deseja ir' do %>
          <%= image_tag "icon-calendar.gif", :valign => :bottom %> <%= Date.new(@year, @month, 1).strftime("%B de %Y") %>
        <% end %>
        <%= link_to url_next, :class => "btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Próximo mês' do %>
          <%= image_tag "arrow_right.png", :valign => :bottom  %>
        <% end %>
        <% if @creditcard.is_invoice_payed?(@month, @year) %>
          &nbsp;<span class="label label-warning">FATURA PAGA</span>
          <%= link_to "Extornar Pagamento", @creditcard.get_payment(@month, @year), :confirm => 'Confirma extorno do pagamento da fatura deste mês?', :method => :delete, :title => "Apagar", :class => "btn btn-small pull-right", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta movimentação' %>
        <% end %>

      </div>

      <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#movimentations" data-toggle="tab">Movimentações</a></li>
        <li><a href="#add" data-toggle="tab">Adicionar</a></li>
      </ul>

      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="movimentations">
        <% if @creditcard_items.size > 0 %>
          <table class="table table-striped">
            <tr>
              <th width="75" align="center">Data Compra</th>
              <th width="320" align="left">Movimentação</th>
              <th width="90" align="center">Valor</th>
              <th width="70"></th>
            </tr>
            <% @creditcard_items.each do |item| %>
            <tr onmouseover="show_button(<%= item.id %>)" onmouseout="hide_button(<%= item.id %>)">
              <td align="center"><%= item.purchased_in.to_s_br %></td>
              <td align="left">
                <%= item.title.upcase unless item.title == nil %>
                <% unless item.number == nil %>
                  (<%= item.number %>)
                <% end %>
              </td>
              <td align="center"><%= item.value.real_contabil %></td>
              <td align="left">
                <div class="btn-action" id="<%= item.id %>">
                <%= link_to edit_creditcard_item_path(item), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar este Movimentação' do %>
                  <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
                <% end %>
                <%= link_to item, :confirm => 'Tem certeza? Esta ação removerá todas as parcelas relacionadas a esta.', :method => :delete, :title => "Apagar", :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta movimentação' do %>
                  <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
                <% end %>
                </div>
              </td>
            </tr>
            <% end %>
            <% if @total > 0 %>
            <tr>
              <td align="center" colspan="5" ><b>Total da Fatura:</b> <%= @total.real_contabil %></td>
            </tr>
            <% end %>
          </table>
          <% else %>
            <p>Nenhuma movimentação encontrada.</p>
          <% end %>
        </div>
        <div class="tab-pane" id="add">
          <%= render 'form_item' %>
        </div>
      </div>

    </div>
  </div>

<%= link_to 'Voltar', creditcards_path %><br /><br />

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-2").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>
