<% content_for :title do %>
  Acesso ao Sistema
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-stacked" }) do |f| %>

  <p><%= f.label :email %>
  <%= f.email_field :email, :class => 'span3' %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, :class => 'span3' %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= 'Lembrar de mim' %></p>
  <% end -%>

  <p>
    <%= f.submit "Entrar", :class => "btn" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Esqueci a senha?", new_password_path(resource_name) %>
  </p>
  <% end -%>
<% end %>
