<div id="page_title">Lista de <%= plural_table_name %></div>

<div id="content_links">
  <%%= link_to 'Cadastrar <%= human_name %>', new_<%= singular_table_name %>_path %>
</div>

<table>
  <tr>
<% for attribute in attributes -%>
    <th width="100" align="left"><%%= sort_link @search, :<%= attribute.name %>, '<%= attribute.name %>' %></th>
<% end -%>
    <th colspan="3">Action</th>
  </tr>

<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% for attribute in attributes -%>
    <td  align="left"><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td>
    <%%= link_to <%= singular_table_name %>, :title => "Visualizar" do %>
      <%%= image_tag "show_icon.gif", :border => 0, :alt => 'Visualizar' %>
    <%% end %>
    </td>
    <td>
    <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :title => "Editar" do %>
      <%%= image_tag "edit_icon.gif", :border => 0, :alt => "Editar" %>
    <%% end %>
    </td>
    <td>
    <%%= link_to <%= singular_table_name %>, :confirm => 'Tem certeza?', :method => :delete, :title => "Apagar" do %>
      <%%= image_tag "delete_icon.gif", :border => 0, :alt => "Apagar" %>
    <%% end %>
  </tr>
<%% end %>
</table>
<br />

<%%= will_paginate @<%= plural_table_name %>, :prev_label => 'Anterior', :next_label => 'Próximo' %>

