[
  <% i = 0 %>
  <% @desires.each do |desire| %>
  <% i = i + 1 %>
  {
    "id":<%= desire.id %>,
    "title":"<%= desire.title %>",
    "price":"<%= desire.price %>",
    "priority":"<%= desire.priority %>",
    "user_id":<%= desire.user_id %>
  }<%= "," unless i >= @desires.size %>
  <% end %>
]
