[
  <% i = 0 %>
  <% @creditcards.each do |creditcard| %>
  <% i = i + 1 %>
  {
    "id":<%= creditcard.id %>,
    "name":"<%= creditcard.name %> ",
    "flag":"<%= creditcard.flag %>",
    "payday":<%= creditcard.payday %>,
    "closing_day":<%= creditcard.closing_day %>,
    "limit":"<%= creditcard.limit %>",
    "user_id": <%= creditcard.user_id %>
  }<%= "," unless i >= @creditcards.size %>
  <% end %>
]
