<script>
  $(document).ready(function(){
      $("#creditcard_payment_value").val($("#creditcard_payment_value").val().replace(".", ","));
      $("#creditcard_payment_value").numeric(",");
      $("#creditcard_payment_value").floatnumber(",",2);
  });

</script>

<%= form_for(@creditcard_payment, :html => { :class => "form-stacked" }) do |f| %>
  <% if @creditcard_payment.errors.any? %>
    <div class="alert-message error fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= pluralize(@creditcard_payment.errors.count, "erro") %> impediram o formul&aacute;rio de ser salvo</p>
    </div>
    <div id="error_explanation">
     <ul>
      <% @creditcard_payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Pagamento da Fatura de " + Date.new(@creditcard_payment.year, @creditcard_payment.month, 1).strftime("%B de %Y") %>
  </p>

  <p>
    <%= f.label "Cartão" %>
    <%= @creditcard.name %>
  </p>

  <p>
    <%= f.label "Data do Pagamento" %>
    <%= f.date_select :payed_in %>
  </p>

  <p>
    <%= f.label "Valor Pago" %>
    <%= f.text_field :value, :class => "span2" %>
  </p>

  <%= f.hidden_field :month %>
  <%= f.hidden_field :year %>
  <%= f.hidden_field :creditcard_id %>

  <br />
  <p>
    <%= f.submit 'Salvar', :class => "btn" %> <%= link_to 'Cancelar', @creditcard_payment.creditcard, :class => "btn btn-danger" %>
  </p>
<% end %>
