<% content_for :breadcrumb do %>
    <li><a href="/creditcards/<%= @creditcard_payment.creditcard_id %>">Cartões de Crédito</a> <span class="divider">/</span></li>
    <li class="active">Quitar Fatura de Cartão de Crédito</li>
<% end %>

<%= render 'form' %>

