<% stylesheet_link_tag 'colorPicker' %>
<% javascript_include_tag 'jquery.colorPicker' %>

<%= form_for(@category, :html => { :class => "form-stacked" }) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> impediram o formul&aacute;rio de ser salvo:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, :maxlength => 20 %>
  </div>

  <div>
    <div class="input-append color" data-color="<%= @category.color %>" data-color-format="hex">
      <%= f.label :color %>
      <%= f.text_field :color, :class => "span2", :readonly => :readonly %>
    </div>
  </div>
  <div>
    <%= f.submit 'Salvar', :class => "btn" %> <%= link_to 'Cancelar', categories_path, :class => "btn btn-danger" %>
  </div>
<% end %>

<script language="javascript">
    jQuery(document).ready(function($) {
        $('#category_color').colorpicker();
    });
</script>
