<% content_for :breadcrumb do %>
    <li><%= link_to "Categorias", categories_path + "&search[meta_sort]=title.asc" %> <span class="divider">/</span></li>
    <li class="active">Editar Categoria</li>
<% end %>

<%= render 'form' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-4").addClass("active");
  });
</script>

