<%= stylesheet_link_tag 'colorPicker2' %>

<% content_for :breadcrumb do %>
    <li><a href="#">Categorias</a> <span class="divider">/</span></li>
    <li class="active">Principal</li>
<% end %>

<div class="buttons">
  <%= link_to 'Adicionar Categoria', "#myModal", :alt => 'Adicionar Categoria', :title => "Adicionar Categoria", :class => "btn btn-primary pull-right", 'data-toggle' => "modal" %>
</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Adicionar Categoria</h3>
  </div>
  <div class="modal-body">
    <%= render 'form' %>
  </div>
</div>


<h3>CATEGORIAS</h3>

<div class="row">
  <div class="span6">
    <p>
      Crie categorias que serão atribuidas às movimentações.
    </p>
    Abaixo você pode visualizar algumas sugestões de categorias:
    <ul>
      <li>Alimentação</li>
      <li>Transporte</li>
      <li>Saúde</li>
      <li>Aluguel</li>
      <li>Entretenimento</li>
      <li>Restaurante</li>
    </ul>
  </div>
  <div class="span6">
    <table class="table table-striped ">
      <tr>
        <th width="200" align="left"><%= sort_link @search, :title, 'Título' %></th>
        <th width="140" align="left">Cor</th>
        <th colspan="1"></th>
      </tr>

    <% @categories.each do |category| %>
      <tr onmouseover="show_button(<%= category.id %>)" onmouseout="hide_button(<%= category.id %>)">
        <td  align="left"><%= category.title.upcase %></td>
        <td  align="left"><div class="color_picker" style="background-color: <%= category.color %>"></div></td>
        <td>
          <div class="btn-action" id="<%= category.id %>">
          <%= link_to edit_category_path(category), :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Editar esta movimentação' do %>
           <%= image_tag "icon-edit.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          <%= link_to category, :confirm => 'Tem certeza?', :method => :delete, :class => "table_line btn btn-small", 'data-placement' => "below", :rel => 'twipsy', :title => 'Apagar esta categoria' do %>
            <%= image_tag "icon-delete.gif", :align => :absmiddle, :border => 0 %>
          <% end %>
          </div>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<br />

<%= will_paginate @categories, :prev_label => 'Anterior', :next_label => 'Próximo' %>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-4").addClass("active");
     $(".btn-action").hide();
  });

  function show_button(id) {
    $("#" + id).show();
  }

  function hide_button(id) {
    $("#" + id).hide();
  }
</script>


