<p id="notice"><%= notice %></p>

<p>
  <b>title:</b>
  <%= @category.title %>
</p>

<p>
  <b>user_id:</b>
  <%= @category.user_id %>
</p>


<%= link_to 'Editar', edit_category_path(@category) %> |
<%= link_to 'Voltar', categories_path %>
