<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou que sua senha seja alterada, você pode executar esta ação através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez essa solicitação, ignore este e-mail.</p>
<p>Sua senha não será alterada e até que você acesse o sistema e crie uma nova.</p>
