[
  {
    "id":<%= @movimentation.id %>,
    "type_of_movimentation":<%= @movimentation.type_of_movimentation %>,
    "description":"<%= @movimentation.description %>",
    "value":"<%= @movimentation.value %>",
    "payday":"<%= @movimentation.payday %>",
    "local_to_pay":"<%= @movimentation.local_to_pay %>",
    "situation":<%= @movimentation.situation ? 1 : 0 %>,
    "number":"<%= @movimentation.number %>",
    "is_fixed":<%= @movimentation.is_fixed ? 1 : 0 %>,
    "group_id":"<%= @movimentation.group_id %>",
    "category_id":<%= @movimentation.category_id ? @movimentation.category_id : 0 %>,
    "user_id":<%= @movimentation.user_id %>
  }
]
