<script>
  $(document).ready(function(){
      $("#creditcard_item_value").val($("#creditcard_item_value").val().replace(".", ","));
      $("#creditcard_item_value").numeric(",");
      $("#creditcard_item_value").floatnumber(",",2);

      $("#div_quantity").hide();
      
      $("#creditcard_item_is_fixed").click(function () {  
        if( $("#creditcard_item_is_fixed").is(':checked') ){
          $("#div_quantity").show("slow");
          $('#creditcard_item_is_subdivided').attr('checked', false);
        }
        
        if(!$("#creditcard_item_is_fixed").is(':checked') && !$("#creditcard_item_is_subdivided").is(':checked')){
          $("#div_quantity").hide("slow");
          $("#creditcard_item_quantity").val('0');
        }
      });
      
      $("#creditcard_item_is_subdivided").click(function () {  
       
        if( $("#creditcard_item_is_subdivided").is(':checked') ){
          $("#div_quantity").show("slow");
          $('#creditcard_item_is_fixed').attr('checked', false);
        }

        if(!$("#creditcard_item_is_fixed").is(':checked') && !$("#creditcard_item_is_subdivided").is(':checked')){
          $("#div_quantity").hide("slow");
          $("#creditcard_item_quantity").val('0');
        }
      });
  });

</script>

<%= form_for(@creditcard_item, :html => { :class => "form-stacked" }) do |f| %>
  <% if @creditcard_item.errors.any? %>
    <div class="alert-message error fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= pluralize(@creditcard_item.errors.count, "erro") %> impediram o formul&aacute;rio de ser salvo</p>
    </div>
    <div id="error_explanation">
     <ul>
      <% @creditcard_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @creditcard_item.id == nil %>
  <p>
    <%= f.label "Data da Compra" %>
    <%= f.date_select :purchased_in %>
  </p>
<% end %>

  <p>
    <%= f.label "Descrição" %>
    <%= f.text_field :title, :class => "span5" %>
  </p>

  <p>
    <%= f.label "Valor a Pagar" %>
    <%= f.text_field :value, :class => "span2" %>
  </p>

<% if @creditcard_item.id == nil %>

  <p>
    <%= f.check_box :is_fixed, {}, true, false %> É uma movimentação fixa?
  </p>

  <p>
    <%= f.check_box :is_subdivided, {}, true, false %> É uma movimentação parcelada?
  </p>

  <p id="div_quantity">
    <%= f.label 'Repetir por' %> 
    <%= f.text_field :quantity, :size => 8 %> meses
  </p>

<% end %>

  <%= f.hidden_field :creditcard_id %>

  <%= f.hidden_field :group_id %>

  <br />
  <p>
    <%= f.submit 'Salvar', :class => "btn" %> <%= link_to 'Cancelar', @creditcard_item.creditcard, :class => "btn danger" %>
  </p>
<% end %>
