<%
  def sum(movs, y, m)
    sum = 0
    month_begins = Date.new(y, m, 1)
    month_ends = Date.new(y, m, 1).at_end_of_month
    movs.each do |movimentation|
      if (movimentation.payday >= month_begins && movimentation.payday <= month_ends)
        sum = sum + movimentation.value
      end
    end
    return sum
  end

  def sum_cc(creditcards, y, m)
    sum = 0
    creditcards.each do |creditcard|
      creditcard.creditcard_items.each do |item|
        if (item.month_to_pay == m and item.year_to_pay == y)
          sum += item.value
        end
      end
    end
    return sum
  end
%>

<table class="table table-striped">
  <tr>
    <th align="center">TIPO</th>
    <th align="center">JAN</th>
    <th align="center">FEV</th>
    <th align="center">MAR</th>
    <th align="center">ABR</th>
    <th align="center">MAI</th>
    <th align="center">JUN</th>
    <th align="center">JUL</th>
    <th align="center">AGO</th>
    <th align="center">SET</th>
    <th align="center">OUT</th>
    <th align="center">NOV</th>
    <th align="center">DEZ</th>
  </tr>
  <tr>
    <td align="left">A RECEBER</td>
  <% for i in 1..12 do %>
    <td align="left"><%= sum(@movimentations_in, year, i).real_contabil %></td>
  <% end %>
  </tr>
  <tr>
    <td align="left">A PAGAR</td>
  <% for i in 1..12 do %>
    <td align="left"><%= (sum(@movimentations_out, year, i) + sum_cc(@creditcards, year, i)).real_contabil %></td>
  <% end %>
  </tr>

</table>
