<script type="text/javascript" >
  var chart;
  $(document).ready(function() {
     chart = new Highcharts.Chart({
        chart: {
           renderTo: '<%= year %>_<%= type %>_chart',
           defaultSeriesType: 'spline'
        },
        title: {
           text: 'Resumo Anual por Categoria'
        },
        subtitle: {
           text: '<%= type == 1 ? "Contas a Receber" : "Contas a pagar" %> - <%= year %>'
        },
        xAxis: {
           categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 
              'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
        },
        yAxis: {
           title: {
              text: 'Valor (R$)'
           },
           labels: {
              formatter: function() {
                 return 'R$ ' + this.value
              }
           }
        },
        tooltip: {
           crosshairs: true,
           shared: true
        },
        plotOptions: {
           spline: {
              marker: {
                 radius: 4,
                 lineColor: '#666666',
                 lineWidth: 1
              }
           }
        },
        series: [
        <% categories.each do |categorie| %>
        {
           name: '<%= categorie.title.upcase %>',
           marker: {
              symbol: 'square'
           },
           data: [<%= categorie.sum_by_my(type, year, 1) %>, <%= categorie.sum_by_my(type, year, 2) %>, <%= categorie.sum_by_my(type, year, 3) %>, <%= categorie.sum_by_my(type, year, 4) %>, <%= categorie.sum_by_my(type, year, 5) %>, <%= categorie.sum_by_my(type, year, 6) %>, <%= categorie.sum_by_my(type, year, 7) %>, <%= categorie.sum_by_my(type, year, 8) %>, <%= categorie.sum_by_my(type, year, 9) %>, <%= categorie.sum_by_my(type, year, 10) %>, <%= categorie.sum_by_my(type, year, 11) %>, <%= categorie.sum_by_my(type, year, 12) %>]
     
        },
        <% end %>
        <%
          def sum(movs, y, m)
            sum = 0
            month_begins = Date.new(y, m, 1)
            month_ends = Date.new(y, m, 1).at_end_of_month
            movs.each do |movimentation|
              if (movimentation.payday >= month_begins && movimentation.payday <= month_ends && movimentation.category_id == nil)
                sum = sum + movimentation.value
              end
            end
            return sum
          end
        %>
            {
           name: 'SEM CATEGORIA',
           marker: {
              symbol: 'square'
           },
           data: [<%= sum(movimentations, year, 1) %>, <%= sum(movimentations, year, 2) %>, <%= sum(movimentations, year, 3) %>, <%= sum(movimentations, year, 4) %>, <%= sum(movimentations, year, 5) %>, <%= sum(movimentations, year, 6) %>, <%= sum(movimentations, year, 7) %>, <%= sum(movimentations, year, 8) %>, <%= sum(movimentations, year, 9) %>, <%= sum(movimentations, year, 10) %>, <%= sum(movimentations, year, 11) %>, <%= sum(movimentations, year, 12) %>]
        }]
     });
  });
</script>
<div id="<%= year %>_<%= type %>_chart" class="span12" style="height: 300px"></div>
