<script type="text/javascript" >
  var chart;
  $(document).ready(function() {
     chart = new Highcharts.Chart({
        chart: {
           renderTo: '<%= year %>_<%= type %>_chart',
           defaultSeriesType: 'spline'
        },
        title: {
           text: 'Contas a receber e a pagar mês a mês'
        },
        xAxis: {
           categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 
              'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
        },
        yAxis: {
           title: {
              text: 'Valor (R$)'
           },
           labels: {
              formatter: function() {
                 return 'R$ ' + this.value
              }
           }
        },
        tooltip: {
           crosshairs: true,
           shared: true
        },
        plotOptions: {
           spline: {
              marker: {
                 radius: 4,
                 lineColor: '#666666',
                 lineWidth: 1
              }
           }
        },
        series: [
        <%
          def sum(movs, y, m)
            sum = 0
            month_begins = Date.new(y, m, 1)
            month_ends = Date.new(y, m, 1).at_end_of_month
            movs.each do |movimentation|
              if (movimentation.payday >= month_begins && movimentation.payday <= month_ends)
                sum = sum + movimentation.value
              end
            end
            return sum
          end

          def sum_cc(creditcards, y, m)
            sum = 0
            creditcards.each do |creditcard|
              creditcard.creditcard_items.each do |item|
                if (item.month_to_pay == m and item.year_to_pay == y)
                  sum += item.value
                end
              end
            end
            return sum
          end
        %>
            {
           name: 'A RECEBER',
           marker: {
              symbol: 'square'
           },
           data: [<%= sum(@movimentations_in, year, 1) %>, <%= sum(@movimentations_in, year, 2) %>, <%= sum(@movimentations_in, year, 3) %>, <%= sum(@movimentations_in, year, 4) %>, <%= sum(@movimentations_in, year, 5) %>, <%= sum(@movimentations_in, year, 6) %>, <%= sum(@movimentations_in, year, 7) %>, <%= sum(@movimentations_in, year, 8) %>, <%= sum(@movimentations_in, year, 9) %>, <%= sum(@movimentations_in, year, 10) %>, <%= sum(@movimentations_in, year, 11) %>, <%= sum(@movimentations_in, year, 12) %>]
        },{
           name: 'A PAGAR',
           marker: {
              symbol: 'square'
           },
           data: [<%= sum(@movimentations_out, year, 1) + sum_cc(@creditcards, year, 1) %>, <%= sum(@movimentations_out, year, 2) + sum_cc(@creditcards, year, 2) %>, <%= sum(@movimentations_out, year, 3) + sum_cc(@creditcards, year, 3) %>, <%= sum(@movimentations_out, year, 4) + sum_cc(@creditcards, year, 4) %>, <%= sum(@movimentations_out, year, 5) + sum_cc(@creditcards, year, 5) %>, <%= sum(@movimentations_out, year, 6) + sum_cc(@creditcards, year, 6) %>, <%= sum(@movimentations_out, year, 7) + sum_cc(@creditcards, year, 7) %>, <%= sum(@movimentations_out, year, 8) + sum_cc(@creditcards, year, 8) %>, <%= sum(@movimentations_out, year, 9) + sum_cc(@creditcards, year, 9) %>, <%= sum(@movimentations_out, year, 10) + sum_cc(@creditcards, year, 10) %>, <%= sum(@movimentations_out, year, 11) + sum_cc(@creditcards, year, 11) %>, <%= sum(@movimentations_out, year, 12) + sum_cc(@creditcards, year, 12) %>]
        }]
     });
  });
</script>
<div id="<%= year %>_<%= type %>_chart" class="span12" style="height: 300px"></div>
