<%= Date.new(year, 2, 1) if (Date.new(year, 2, 1) >= "2012-09-09".to_date) %>

<table class="table table-striped">
  <tr>
    <th align="center">CATEGORIA</th>
    <th align="center">JAN</th>
    <th align="center">FEV</th>
    <th align="center">MAR</th>
    <th align="center">ABR</th>
    <th align="center">MAI</th>
    <th align="center">JUN</th>
    <th align="center">JUL</th>
    <th align="center">AGO</th>
    <th align="center">SET</th>
    <th align="center">OUT</th>
    <th align="center">NOV</th>
    <th align="center">DEZ</th>
  </tr>
  <% categories.each do |categorie| %>
  <tr>
    <td align="left"><%= categorie.title.upcase %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 1).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 2).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 3).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 4).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 5).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 6).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 7).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 8).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 9).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 10).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 11).real_contabil %></td>
    <td align="left"><%= categorie.sum_movimentation_by_month_and_year(type, year, 12).real_contabil %></td>
  </tr>
  <% end %>
  <tr>
    <%
      def sum(movs, y, m)
        sum = 0
        month_begins = Date.new(y, m, 1)
        month_ends = Date.new(y, m, 1).at_end_of_month
        movs.each do |movimentation|
          if (movimentation.payday >= month_begins && movimentation.payday <= month_ends && movimentation.category_id == nil)
            sum = sum + movimentation.value
          end
        end
        return sum
      end
      def total(movs, y, m)
        sum = 0
        month_begins = Date.new(y, m, 1)
        month_ends = Date.new(y, m, 1).at_end_of_month
        movs.each do |movimentation|
          if (movimentation.payday >= month_begins && movimentation.payday <= month_ends )
            sum = sum + movimentation.value
          end
        end
        return sum
      end
    %>
    <td align="left">SEM CATEGORIA</td>
    <td align="left"><%= sum(movimentations, year, 1).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 2).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 3).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 4).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 5).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 6).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 7).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 8).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 9).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 10).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 11).real_contabil %></td>
    <td align="left"><%= sum(movimentations, year, 12).real_contabil %></td>
  </tr>
  <tr>
    <td align="left"><b>TOTAL</b></td>
    <td align="left"><b><%= total(movimentations, year, 1).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 2).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 3).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 4).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 5).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 6).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 7).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 8).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 9).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 10).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 11).real_contabil %></b></td>
    <td align="left"><b><%= total(movimentations, year, 12).real_contabil %></b></td>
  </tr>
</table>
