<p>Selecione o ano e depois clique em "A receber" e "A pagar" para visualizar a tabela e o gráfico com o resumo.</p>

<style>
  table {
    font-size: 10px;
  }

  table th, table td {
    padding: 10px 0px 10px;
    line-height: 13px;
  }
</style>

<% content_for :breadcrumb do %>
    <li><a href="#">Relatórios</a> <span class="divider">/</span></li>
    <li class="active">Resumo Anual por Categoria</li>
<% end %>

<ul class="nav nav-tabs" data-tabs="tabs">
<% 
  year = @first_year
  while year <= @last_year do 
%>
    <li  <%= "class='active'" if year == Time.new.year.to_i %>><a href="#<%= year %>"  data-toggle="tab"><%= year %></a></li>
<% 
    year += 1
  end 
%>
</ul>

<div id="my-tab-content" class="tab-content">
<% 
  year = @first_year
  while year <= @last_year do 
%>
  <div class="tab-pane <%= "active" if year == Time.new.year.to_i %>" id="<%= year %>">
    <ul class="nav nav-pills" >
      <li><a href="#<%= year %>torecept" data-toggle="tab">A RECEBER</a></li>
      <li><a href="#<%= year %>topay" data-toggle="tab">A PAGAR</a></li>
    </ul>
    <div id="my-pill-content" class="pill-content">
      <div class="pill-pane " id="<%= year %>torecept">
        <%= render :partial => "report_1_graph", :locals => { :year => year, :type => 1, :categories => @categories, :movimentations => @movimentations_in } %>
        <br />
        <%= render :partial => "report_1_table", :locals => { :year => year, :type => 1, :categories => @categories, :movimentations => @movimentations_in } %>
      </div>
      <div class="pill-pane" id="<%= year %>topay">
        <%= render :partial => "report_1_graph", :locals => { :year => year, :type => 2, :categories => @categories, :movimentations => @movimentations_out } %>
        <br />
        <%= render :partial => "report_1_table", :locals => { :year => year, :type => 2, :categories => @categories, :movimentations => @movimentations_out } %>
      </div>
    </div>
  </div>
<% 
    year += 1
  end 
%>
</div>

<script language="javascript">
  // Destacar item de menu correspondente
  $(document).ready(function(){
     $("#menu-item-5").addClass("active");
  });
</script>

