﻿<!DOCTYPE html>
<html>
<head>
  <title>Controle Financeiro - Versão Beta</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'colorpicker', 'application' %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'application', 'jquery.meio.mask.min', 'jquery.dropdown', 'hoverIntent', 'jquery.numeric.pack', 'jquery.floatnumber', 'jquery.colorbox', 'bootstrap.min', 'highcharts', 'bootstrap-colorpicker' %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon_32x32.ico" type="image/x-icon" />
</head>
<body>
<script type="text/javascript" >
  (function($){
    $(function(){
      $('input:text').setMask();
      }
    );
  })(jQuery);
</script>

<div id="beta">
  <%= image_tag "beta.png" %>
</div>

<% if user_signed_in? %>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><%= image_tag "icon-logo.gif", :valign => :middle %> Controle Financeiro</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Editar Conta", edit_user_registration_path, 'data-placement' => "below", :rel => 'twipsy', :title => 'Altere informações do seu cadastro' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to '/users/sign_out', :confirm => 'Deseja realmente sair?', 'data-placement' => "below", :rel => 'twipsy', :title => 'Sair do sistema' do %>
                  Sair
                <% end %>
            </li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li id="menu-item-1" class="dropdown" data-dropdown="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movimentações <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li data-placement="below" rel="twipsy" title="Atual"><a href="/movimentations">Mês Atual</a></li>
                  <li data-placement="below" rel="twipsy" title="Atrasadas"><a href="/overdue">Atrasadas</a></li>
                  <li data-placement="below" rel="twipsy" title="Todas"><a href="/all">Todas</a></li>
                </ul>
              </li>
              <li id="menu-item-2" data-placement="below" rel="twipsy" title="Lista suas contas a pagar e receber em atraso"><a href="/creditcards">Cartões de Crédito</a></li>
              <li id="menu-item-3" data-placement="below" id="key_3" rel="twipsy" title="Lista de items que você prentende adquirir"><a href="/desires?search[meta_sort]=title.asc">Desejos</a></li>
              <li id="menu-item-4" data-placement="below" rel="twipsy" title="Lista de categorias de contas"><a href="/categories?search[meta_sort]=title.asc">Categorias</a></li>
              <li id="menu-item-5" class="dropdown" data-dropdown="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Relatórios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li data-placement="below" rel="twipsy" title="Relatorios"><a href="/report2">Contas a receber e a pagar mês a mês</a></li>
                  <li data-placement="below" rel="twipsy" title="Relatorios"><a href="/report1">Mensal por Categorias</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<% end %>
<br /><br /><br />
    
<div class="container">
  <ul class="breadcrumb">
    <%= yield :breadcrumb %>
  </ul>
  <% if notice %>
  <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>

  <footer>
    <p>&reg; <%= Time.new.year %> Controle Financeiro - www.controlefinanceiro.tk <br />Desenvolvido por <a href="http://www.mariojorge.net" target="_blank">mariojorge.net</a></p>
  </footer>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27306906-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/1zIiRD7IJGLxnhyphDLQ.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</body>
</html>

