﻿<!DOCTYPE html>
<html>
<head>
  <title>Controle Financeiro</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'application' %>
  <%= javascript_include_tag 'jquery', 'bootstrap.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon_32x32.ico" type="image/x-icon" />
</head>
<body>
<script type="text/javascript" >
  (function($){
    $(function(){
      $(".alert-message").alert('close')
      }
    );
  })(jQuery);
</script>

<div class="container">
  <br />
  <h1>Controle Financeiro <small><%= yield :title %></small></h1>
  <% if alert %>
    <div class="alert alert-error">
      <%= alert %>
    </div>
  <% end %>
  <div class="row">
    <div class="span4">
        <%= yield %>
    </div>
    <div class="span8">
      <div class="row">
        <div class="span8">
          <h2>Caracteristicas do Sistema</h2>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h4>Gratuito</h4>
          <p>Além de fácil de usar, o controle financeiro é totalmente gratuito.</p>
        </div>
        <div class="span4">
          <h4>Mensal</h4>
          <p>Você terá total controle sobre seus gastos e receitas mês a mês. Visualize de forma fácil suas contas.</p>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h4>Alertas</h4>
          <p>Não deixe nada atrasar, receba todos os dias alertas por e-mail.</p>
        </div>
        <div class="span4">
          <h4>Lista de Desejos</h4>
          <p>Cadastre items que você deseja comprar ou serviços que deseja fazer, defina sua prioridade e conquiste seus objetivos</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; Controle Financeiro 2011 - www.controlefinanceiro.tk <br />Desenvolvido por <a href="http://www.mario-jorge.net" target="_blank">mario-jorge.net</a></p>
  </footer>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27306906-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

