﻿<!DOCTYPE html>
<html>
<head>
  <title>Controle Financeiro</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'application' %>
  <%= javascript_include_tag 'jquery', 'bootstrap.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon_32x32.ico" type="image/x-icon" />
</head>
<body>

<div id="beta2">
  <%= image_tag "beta.png" %>
</div>

<div style="margin: 20px;">
  <div id="content_title"><%= yield :title %></div>
  
  <div id="content">
    <% if alert %><div class="alert"><%= alert %></div><% end %>
    <%= yield %>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27306906-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

