<!DOCTYPE html>
<html>
<head>
  <title>Controle Financeiro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <%= stylesheet_link_tag 'http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css' %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.8.2.min.js', 'http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js' %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon_32x32.ico" type="image/x-icon" />
</head>
<body>

  <div data-role="page">

    <div data-role="header" data-theme="b">
      <%= link_to "Menu", "#menu", 'data-rel' => "dialog", 'data-icon' => "grid" if user_signed_in? %>
      <h1>Controle Financeiro</h1>
      <%= link_to "Sair", '/users/sign_out', 'data-ajax' => "false", :class => "ui-btn-right" if user_signed_in? %>
    </div><!-- /header -->

    <div data-role="content"> 
      <% if alert %><div class="alert"><%= alert %></div><% end %>
      <%= yield %>   
    </div><!-- /content -->

  </div><!-- /page -->

  <!-- Start of second page (Menu Page)-->
  <div data-role="page" id="menu">
      <div data-role="header">
          <h1>Menu</h1>
      </div><!-- /header -->
      <div data-role="content">
          <a href="/movimentations" data-role="button", data-ajax="false">Movimentações</a>
          <a href="/overdue" data-role="button", data-ajax="false">Atrasadas</a>
          <a href="/creditcards" data-role="button", data-ajax= "false">Cartões de Crédito</a>
          <a href="/desires?search[meta_sort]=title.asc" data-role="button", data-ajax="false">Desejos</a>
          <a href="/categories?search[meta_sort]=title.asc" data-role="button", data-ajax="false">Categorias</a>
      </div><!-- /content -->
  </div><!-- /page -->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27306906-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>

